.control {
    position: relative;
    padding-left: 88%;
    z-index: 2;
}
.player{
    position: absolute;
    z-index: 1;
    top: 2px;
}
body{
    overflow-x: hidden;
}
#draggable-field{
    -webkit-app-region: drag;
}